<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--<script type="text/javascript" charset="utf-8" src="cordova.js"></script>-->
	<script type="text/javascript" charset="utf-8">
		document.addEventListener("deviceready", onDeviceReady, false);
		function onDeviceReady() {
			navigator.splashscreen.hide();
		}
	</script>
</head>
<body class="unselectable">

	<div class="main-menu">
		<div class="main-menu-button button" data-link="main">
			<br /><br /><br />
			Главная
		</div>
		<div class="main-menu-button button" data-link="my-profile">
			<br /><br /><br />
			Профиль
		</div>
		<div class="main-menu-button button" data-link="profession">
			<br /><br /><br />
			Профессии
		</div>
		<div class="main-menu-button button" data-link="add-work">
			<br /><br /><br />
			Найти работника
		</div>
		<div class="main-menu-button button" data-link="options">
			<br /><br /><br />
			Настройки
		</div>
	</div>

<!------------------------------------------------------------------------------------------------------>

	<div class="pages">
		<div id="main" class="page">
			<div class="top-panel">
				<a href="#" class="button cyan-button" data-link="menu"><i class="icon">&#9776;</i></a>
				<!--<a href="#" id="network-button" class="cyan-button">Network</a>-->
				<a href="#" data-link="my-profile" class="button profile-button">
					<div class="user-name">Алексей</div>
					<div class="user-avatar">
						<img src="img/ava.jpg" />
					</div>
				</a>
			</div>

			<div class="information" id="main-wrapper">
				<div class="scroller">
					<div id="map"></div>
				</div>
			</div>

			<script id="work-short-describe-template" type="text/template">
				<div class="information-work" class="button" data-link="work-describe" id="w-{{id}}"> <!-- w-' + i + '-->
				<div class="information-left">
					<div class="information-header">{{prof}}</div> <!-- ' + glob.WORKS[i].prof + ' -->
					<div class="information-content">{{description}}</div> <!-- ' + glob.WORKS[i].description + ' -->
					<div class="arrow">
						<img src="img/arrow.png" />
						</div>
					</div>
				<div class="information-right">
					<div class="information-arrow">{{pay}}</div> <!-- ' + glob.WORKS[i].pay + ' -->
					<div class="information-distance">300м</div>
					</div>
				</div>
			</script>

		</div>

<!------------------------------------------------------------------------------------------------------>

		<div id="add-work" class="page h">
			<div class="top-panel">
				<a href="#" data-link="main" class="button cyan-button">Назад</a>
				<a href="#" data-link="my-profile" class="button profile-button">
					<div class="user-name">Алексей</div>
					<div class="user-avatar">
						<img src="img/ava.jpg" />
					</div>
				</a>
			</div>
			<div class="add-work-information" id="add-work-wrapper">
				<div class="scroller">
					<p>Профессия</p>
					<select>
						<option>Компьютерщик</option>
						<option>Разнорабочий</option>
						<option>Грузчик</option>
						<option>Курьер</option>
						<option>Водитель</option>
						<option>Фотограф</option>
						<option>Монтажник</option>
						<option>Электрик</option>
						<option>Сварщик</option>
					</select>
					<p>Описание работы</p>
					<textarea></textarea>
					<p>Сумма оплаты</p>
					<input type="text" />
					<p>
						<a href="#" class="cyan-button get-location" onclick="camera.capturePhoto();">Сделать фото</a>
					</p>
					<img id="photo" src="" />
					<p>Ваше имя</p>
					<input type="text" value="Алексей" />
					<p>Номер телефона</p>
					<input type="text" value="+7-911-028-31-27" />
					<p>
						<a href="#" class="cyan-button">Разместить объявление</a>
					</p>
				</div>
			</div>
		</div>

<!------------------------------------------------------------------------------------------------------>

		<div id="my-profile" class="page h">
			<div class="top-panel">
				<a href="#" data-link="main" class="button cyan-button">Назад</a>
				<a href="#" data-link="my-profile" class="button profile-button">
					<div class="user-name">Алексей</div>
					<div class="user-avatar">
						<img src="img/ava.jpg" />
					</div>
				</a>
			</div>
			<div class="my-profile-information" id="my-profile-wrapper">
				<div class="scroller">
					<p>Алексей Анатольевич Андреев</p>
					<div class="user-big-avatar">
						<img src="img/bigava.jpg" />
					</div>
					<p>
						<a href="#" class="cyan-button get-location" onclick="camera.capturePhoto();">Сделать фото</a>
					</p>
					<p>Номер телефона</p>
				</div>
			</div>
		</div>

<!------------------------------------------------------------------------------------------------------>

		<div id="work-describe" class="page h">
			<div class="top-panel">
				<a href="#" data-link="main" class="button cyan-button">Назад</a>
				<a href="#" data-link="my-profile" class="button profile-button">
					<div class="user-name">Алексей</div>
					<div class="user-avatar">
						<img src="img/ava.jpg" />
					</div>
				</a>
			</div>

			<div class="work-describe-information" id="work-wrapper">
				<div class="scroller">
					<div id="work-describe_map"></div>
					<div class="work-describe-information-work"></div>
				</div>
			</div>

			<script id="work-describe-template" type="text/template">
				<p style="font-weight:bold;">{{prof}}</p> <!-- ' + glob.WORKS[glob.WORK_TAP_ID.substr(2)].prof + ' -->
				<p>{{description}}</p> <!-- ' + glob.WORKS[glob.WORK_TAP_ID.substr(2)].description + ' -->
				<p>{{pay}}</p> <!-- ' + glob.WORKS[glob.WORK_TAP_ID.substr(2)].pay + ' -->
				<img style="width:50px; height:50px; border:1px solid #F7F7F7;" src="" />
				<img style="width:50px; height:50px; border:1px solid #F7F7F7;" src="" />
				<img style="width:50px; height:50px; border:1px solid #F7F7F7;" src="" />
				<img style="width:50px; height:50px; border:1px solid #F7F7F7;" src="" />
				<p>{{address}}</p> <!-- ' + glob.WORKS[glob.WORK_TAP_ID.substr(2)].address + ' -->
				<p>{{employerName}}</p> <!-- ' + glob.WORKS[glob.WORK_TAP_ID.substr(2)].employerName + ' -->
				<a href="tel://{{phone}}">Позвонить {{phone}}</a> <!-- ' + glob.WORKS[glob.WORK_TAP_ID.substr(2)].phone + ' -->
			</script>
		</div>

<!------------------------------------------------------------------------------------------------------>

		<div id="options" class="page h">
			<div class="top-panel">
				<a href="#" data-link="main" class="button cyan-button">Назад</a>
				<a href="#" data-link="my-profile" class="button profile-button">
					<div class="user-name">Алексей</div>
					<div class="user-avatar">
						<img src="img/ava.jpg" />
					</div>
				</a>
			</div>

			<div class="options-information" id="options-wrapper">
				<div class="scroller">
					Настройки
				</div>
			</div>
		</div>

<!------------------------------------------------------------------------------------------------------>

		<div id="profession" class="page h">
			<div class="top-panel">
				<a href="#" data-link="main" class="button cyan-button">Назад</a>
				<a href="#" data-link="my-profile" class="button profile-button">
					<div class="user-name">Алексей</div>
					<div class="user-avatar">
						<img src="img/ava.jpg" />
					</div>
				</a>
			</div>

			<div class="profession-information" id="profession-wrapper">
				<div class="scroller">
					Профессии
					<div class="checkbox">
						<input type="checkbox" id="checkbox-id1" /> <label for="checkbox-id1">Some label</label>
					</div>
				</div>
			</div>
		</div>
	</div>

<!------------------------------------------------------------------------------------------------------>

	<!--
		влево 90° тень, влево 90° внутренняя тень, белая, заливку на 0.
	-->
	<script src="http://api-maps.yandex.ru/2.0/?load=package.standard,package.route&lang=ru-RU" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8" src="js/foreign/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/foreign/jquery.hammer-1.0.5.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/foreign/iScroll-5.0.4-light.min.js"></script>

	<script type="text/javascript" charset="utf-8" src="js/main/camera.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/geolocation.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/glob.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/main.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/addWork.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/myProfile.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/workDescribe.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/profession.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/options.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/yandexMaps.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/main/router.js"></script>
</body>
</html>