#main-wrapper, #work-wrapper, #add-work-wrapper, #my-profile-wrapper{
	position:absolute;
	z-index:1;
	left:0;
	width:100%;
	overflow:hidden;
}

.scroller{
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	transform:translate3d(0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.h{display:none;}
/* Костыль - !important */
.unselectable{-webkit-touch-callout:none !important; -webkit-user-drag:none !important; -webkit-user-select:none !important; -webkit-tap-hightlight-color: rgba(0,0,0,0); -moz-user-select:none !important; -ms-user-select:none !important; user-select:none !important;}
/************************/

html{font:10px sans-serif;}

@font-face{
	font-family:"Entypo";
	src:url("../fonts/entypo.ttf") format("truetype"),
	url("../fonts/entypo.svg#Entypo") format("svg");
}
.icon{font-family:Entypo; font-style:normal;}
.main-menu-button .icon{font-size:64px;}
.top-panel .icon{font-size:26px;}

body{width:100%; height:100%; position:fixed; overflow:hidden; margin:0; font-family:Arial; font-size:1.3rem; color:#4E443C;}

select{padding:5px; width:280px;}
input{padding:5px;}
textarea{padding:5px; width:264px; height:50px;}
p{margin:20px 0 5px;}

.cyan-button{float:left; display:block; height:26px; line-height:26px; padding:0 10px; border:7px solid #FFFFFF; text-decoration:none; text-align:center; background-color:#0B598A; color:#FFFFFF; cursor:pointer;}
.cyan-button:hover{background-color:#004A74;}

input[type=checkbox]{display:inline-block; vertical-align:top; width:22px; height:22px; background:url('../img/colorIcons.png'); background-position:0 0; position:relative;}
input[type=checkbox]:checked{background-position:0 -24px}
input[type="checkbox"]{position:absolute; left:-9999px;}
input[type="checkbox"] + label{background:url("../img/colorIcons.png") 0 0 no-repeat; padding-left:22px;}
input[type="checkbox"]:checked + label{background-position:0 -24px;}

/* top-panel*/
.top-panel{top:0; left:0; height:40px; background-color:#FFFFFF; color:#FFFFFF;
	/*border-bottom:5px solid #CCCCCC;*/
}
.user-name{float:right; font-weight:bold; height:16px; padding:12px 10px; background-color:#38AB4E;}
.user-avatar{float:right; width:40px; height:40px;}
.user-avatar img{width:40px; height:40px;}
.profile-button{color:#FFFFFF; text-decoration:none;}

/* profile */
.user-big-avatar{width:200px;}
#my-profile-wrapper{margin:0 10px; padding:11px 15px;}

/* main-menu */
.main-menu{position:absolute; float:left; width:100px; height:100%; top:0; left:0; z-index:0; background:#B9BEC3;}
.main-menu-button{float:left; width:80px; height:80px; margin:10px 10px 0 10px; border-top:1px solid #778087; color:#FAFAFA; font-size:1rem; text-align:center;}

/* pages */
.pages{position:absolute; width:100%; min-height:100%; background:#F0F0F0; top:0;
	/*-webkit-transform:translateZ(0); -webkit-transform:translate3d(0,0,0); -webkit-transition: all 0.4s cubic-bezier(0.19,1,0.22,1);*/
	z-index:5; box-shadow:10px 10px 10px 10px rgba(0,0,0,1);}
.information{background:#555d64;}
.scroller{background:#F0F0F0; padding:10px;}

/* main */
#map{height:280px; margin:0 0 -10px 0;}
#work-describe_map{height:280px;}
.ymaps-map{width:100%!important; height:280px; z-index:-1!important;}
.ymaps-copyrights-legend{visibility:hidden;}

.information{height:400px;}
.information-work{height:80px; margin:10px 0; background:#FFFFFF; -webkit-transform: translateZ(0);}
.information-left{float:left; width:200px; padding:11px 0 15px 20px;}
.information-header{float:left; width:180px; height:22px; font-weight:bold;}
.information-content{float:left; width:180px; height:38px; color:#787878; line-height:18px; overflow:hidden;}
.arrow{float:right; width:8px; height:8px; margin:18px 12px 0 0;}
.information-right{float:right; width:79px; height:80px; background:#FAFAFA; border-left:1px solid #E1E1E1;}
.information-arrow{padding:24px 0 5px; font-size:1.6rem; text-align:center;}
.information-distance{color:#B9B9B9; font-size:1.1rem; text-align:center;}

/* add-work */
.get-location{width:260px;}
.cameraPic{height:40px; min-width:40px; border:1px solid #B9BEC3;}
#photo{width:50px; height:50px; border:1px solid #F7F7F7;}
#add-work-wrapper{margin:0 10px; padding:11px 15px;}

/* work-describe */
.work-describe-information{margin:0 10px; background:#FFFFFF;}
.work-describe-information-work{padding:11px 20px;}